<div class="pane pane-featurettes bg-grey">
  <div class="container">
    <div class="row">
      {% if page.title == 'home' %}
      <div class="col-md-4">
        <div class="feat text-center">
          <i class="fa fa-group fa-3x"></i>
          <h3>Community</h3>
          <p>Friends Of Cake is an awesome group of individuals working together to promote good standards in the CakePHP community and foster a team of friendly, supportive developers within the latter. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feat text-center">
          <i class="fa fa-life-saver fa-3x"></i>
          <h3>Commitment</h3>
          <p>We're building a collection of CakePHP plugins actively maintained by Friends Of Cake contributors who commit to follow quality standards set forward in our <a href="requirements.html" title="Boarding Requirements">boarding requirements</a>. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feat text-center">
          <i class="fa fa-user-plus fa-3x"></i>
          <h3>Contribute</h3>
          <p>Contributions like yours are our lifeblood. Have a plugin that would benefit the community? Once it meets the requirements, read the <a href="migrations.html" title="Migration Guide">migration guide</a> to learn how to prepare it for approval. </p>
        </div>
      </div>
      {% else %}
      <div class="col-md-4 col-md-offset-4 text-center">
        <img src="img/FOC.png" width="100%" class="logo" alt="Friends Of Cake" />
      </div>
      {% endif %}
    </div>
  </div><!-- /.container -->
</div><!-- /.pane -->
