{% if page.title == 'home' %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src="img/FOC.png" width="100%" class="logo" alt="Friends Of Cake" />
        <p class="lead">Friends Of Cake is a group of dedicated CakePHP developers working together to provide the CakePHP community with high caliber CakePHP plugins and resources.</p>
        <a href="https://twitter.com/friendsofcake" class="btn btn-default" role="button"><i class="fa fa-twitter"></i> @friendsofcake</a>
        <a href="https://github.com/FriendsOfCake" class="btn btn-default" role="button"><i class="fa fa-github"></i> View on Github</a>
      </div>
    </div><!-- /.row -->
  </div>
</div><!-- /.pane-jumbotron -->
{% endif %}

{% include featurettes.html %}
