<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FriendsOfCake" data-widget-id="589326245105565696">Tweets by @FriendsOfCake</a>
<script>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + "://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs");
</script>

<section>
  <h2>Get In Touch</h2>
  <p>Have a plugin or project that would benefit the community? Get in touch to discuss adopting it into Friends Of Cake, increasing its visibility and reach.</p>
  <p>We hang out in our friendly IRC channel <strong>#FriendsOfCake</strong> on Freenode.</p>
</section>
