<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Friends Of Cake</title>
  <meta name="description" content="A group of dedicated CakePHP developers working together to provide the CakePHP community with high caliber CakePHP plugins and resources.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Friends Of Cake" />

  <meta name="og:title" content="Friends Of Cake" />
  <meta name="og:description" content="A group of dedicated CakePHP developers working together to provide the CakePHP community with high caliber CakePHP plugins and resources." />
  <meta name="og:image" content="https://res.cloudinary.com/chrisvogt/image/upload/v1429349968/projects/foc/friends-of-cake-banner.jpg" />
  <meta name="og:author" content="Friends Of Cake" />


  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="favicon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon128.png" sizes="128x128">

  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <script src="components/modernizr/modernizr.js"></script>
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <nav class="navbar navbar-clear navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">friendsofcake.com</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="requirements.html">Requirements</a></li>
          <li><a href="migrations.html">Migrations</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-social">
          <li><a href="https://github.com/FriendsOfCake" title="Friends Of Cake on GitHub"><i class="fa fa-github"></i> </a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav><!-- /.navbar -->
    {% if page.title == 'home' %}
    <div class="container-fluid jumbotron">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <img src="img/FOC.png" width="100%" class="logo" alt="Friends Of Cake" />
          <p class="lead">Friends Of Cake is a group of dedicated CakePHP developers working together to provide the CakePHP community with high caliber CakePHP plugins and resources.</p>
          <a href="https://twitter.com/friendsofcake" class="btn btn-default" role="button"><i class="fa fa-twitter"></i> @friendsofcake</a>
          <a href="https://github.com/FriendsOfCake" class="btn btn-default" role="button"><i class="fa fa-github"></i> View on Github</a>
        </div>
      </div><!-- /.row -->
    </div>
    {% endif %}

  <div class="pane pane-featurettes bg-grey">
    <div class="container">
      <div class="row">
        {% if page.title == 'home' %}
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>Community</h3>
            <p>Friends Of Cake is an awesome group of individuals working together to promote good standards in the CakePHP community and foster a team of friendly, supportive developers within the latter. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>Commitment</h3>
            <p>We're building a collection of CakePHP plugins actively maintained by Friends Of Cake contributors who commit to follow quality standards set forward in our <a href="requirements.html" title="Boarding Requirements">boarding requirements</a>. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h3>Contribute</h3>
            <p>Contributions like yours are our lifeblood. Have a plugin that would benefit the community? Once it meets the requirements, read the <a href="migrations.html" title="Migration Guide">migration guide</a> to learn how to prepare it for approval. </p>
          </div>
        </div>
        {% else %}
        <div class="col-md-4 col-md-offset-4">
          <img src="img/FOC.png" width="100%" class="logo" alt="Friends Of Cake" />
        </div>
        {% endif %}
      </div>
    </div><!-- /.container -->
  </div><!-- /.pane -->

  <div class="pane">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        {{ content }}
        </div>
        <div class="col-md-4">
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/FriendsOfCake" data-widget-id="589326245105565696">Tweets by @FriendsOfCake</a>
          <script>
            ! function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");
          </script>
        </div>
      </div><!-- /.row -->
    </div>
  </div><!-- /.pane -->

  <hr />

  <div class="pane">
    <div class="container">
      <div class="row">
        <footer>
          <p>
            <em>Made with ❤ by Friends Of Cake.</em>
          </p>
        </footer>
      </div>
    </div>
  </div>

  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/vendor/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-3831746-13', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
